/**
 * Web Password Manager
 */

/* FORM */

.form .row { padding: 5px 0; }

.form label { float: left; width: 100px; }

.form .errors li { 
    color: #d60000; 
    font-weight: bold; 
    list-style-type: none; 
    padding-bottom: 10px;
}

input[type=text], input[type=password], input[type=number], input[type=email], textarea { 
    width: 250px;
    height: 15px;
    padding: 3px 0 3px 5px;
    font-family: sans-serif;
}

textarea { height: 200px; }

.btn { 
    width: 100px;
    padding: 3px 0;
    font-weight: bold;
    background: #ffca00;
}

.btn:hover { cursor: pointer; background: #ffdf65; }