/**
 * Web Password Manager
 */

/* Entries create */

.form .row { padding: 5px 0; }

.form label { float: left; width: 100px; }

.form .errors li { 
    color: #d60000; 
    font-weight: bold; 
    list-style-type: none; 
    padding-bottom: 10px;
}

input[type=text], input[type=password], input[type=url], input[type=number] { 
    width: 250px;
    height: 15px;
    padding: 3px 0 3px 5px;
    font-family: sans-serif;
}

textarea { height: 200px; }

.btn {
    padding: 4px 30px;
}